{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include 'includes/head.html' %}
<body>
    {% include 'includes/navbar.html' %}
    {% include 'includes/navbar_mobile.html' %}

    {% block content %} {% endblock %}

    {% include 'includes/contacts.html' %}

    {% include 'includes/footer.html' %}

    <script defer>
        const menuBtn = document.querySelector('.menu-btn');
        const menu = document.querySelector('.menu-mobile');                      
        const menuLinks = document.querySelectorAll('.menu-item a');

        menuBtn.addEventListener('click', () => {
            menuBtn.classList.toggle('open');
            menu.classList.toggle('open');
        });

        
        menuLinks.forEach(link => {
            link.addEventListener('click', () => {
                menuBtn.classList.remove('open');
                menu.classList.remove('open');
            });
        });
    </script>
</body>
</html>