@font-face {
    font-family: 'TT Travels';
    src: url(./fonts/TTTravels-Regular.woff) format('woff');
}

@font-face {
    font-family: 'TT Travels Bold';
    src: url(./fonts/TTTravels-Bold.woff) format('woff');
}

@font-face {
    font-family: 'TT Travels Extra Bold Italic';
    src: url(./fonts/TTTravels-ExtraBoldItalic.woff) format('woff');
}


:root {
    font-family: 'TT Travels', sans-serif;
    font-size: 16px;
    --main-color: #ffffff;
    --secondary-color: #000000;
    --spot-color: #ff6701;
    --bg-color: rgb(246, 246, 246);
}

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* NAVBAR STYLES */
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    max-width: 1700px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.navbar-mobile {
    display: none;
}   

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 2.2rem;
}


.menu-item > a {
    font-family: 'TT Travels', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.menu-item > a:hover {
    color: var(--spot-color);
}


.lang-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1rem;
    background-color: var(--bg-color);
    border-radius: 1.1rem;
}

.lang-item > a {
    font-family: inherit, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.lang-item-selected > a {
    color: var(--spot-color);
}


/* FORM STYLES */
.form-container {
	max-width: 100%;
	background-color: var(--bg-color);
	border-radius: 5rem;
}

form {
	display: flex;
	flex-direction: column;
	padding: 4rem 6rem;
}

.form-control {
	width: 100%;
	border-radius: 2rem;
	border: none;
	padding: 2rem 2rem;
	font-size: 2rem;
	margin-bottom: 2rem;
	background-color: rgba(235, 235, 235, 1);
    resize: vertical;
}

.form-input-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.input-container {
    position: relative;
}

.input-container > input {
    font-family: 'TT Travels', sans-serif;
}

.form-input-group > .input-container {
	width: 47%;
    position: relative;
}

.form-input-group > .input-container > label,
.form-input-group > label,
.input-container > label {
	display: block;	
	font-size: 2.3rem;
	font-family: 'TT Travels', sans-serif;
	font-weight: 600;
	margin: 2rem 0;
}

.form-textarea {
    width: 100%;
}

.input-error-message {
    position: absolute;
    top: 14rem;
    left: 0;
    font-size: 1rem;
    color: #a50000;
    font-family: 'TT Travels', sans-serif;
}

.error-input {
    border: 2px solid #a50000;
}

.error-input::placeholder {
    color: rgb(165, 0, 0);
}


.alert {
    padding: 1rem 2rem;
    margin: 2rem auto 0 auto;
    font-size: 1.3rem;
    border-radius: 5rem ;
    max-width: fit-content ;
}

.alert-error {
    background-color: #ffe7e7;
    color: #a50000;
}

.alert-success {
    background-color: #deffdf;
    color: #006a11
}



/* SECTIONS STYLES */
.section {
    position: relative;
    width: 100%;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.section-dark {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.section-content {
    max-width: 1700px;
    margin: 0 auto;
    padding: 4.5rem 2rem;
}

.section-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading > h1, h2 {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 5rem;
    margin: 0;
}

.styled-heading {
    background-image: url('./images/heading-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1rem 5rem;
    display: inline-block;
    color: var(--main-color);
}

.styled-heading > h2 {
    font-family: 'TT Travels Extra Bold Italic', sans-serif;
    font-style: italic;
}


/* Event block */
.active-event {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    min-height: 50rem;
}

.active-event-details,
.active-event-image {
    position: relative;
    width: 48%;
}

.active-event-image {
    overflow: hidden;
    position: relative;
    background-color: #fff; 
}

.active-event-image > img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    border-radius: 3rem;
}


.active-event-title {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 8rem;
    /* font-weight: bold; */
    margin: 0;
}

.active-event-spot {
    display: inline-block;
    color: var(--spot-color);
}


.active-event-info {
    position: absolute;
    width: 100%;
    left: 3rem;
    bottom: 3rem;
}

.active-event-date, 
.active-event-location {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.active-event-date > img, 
.active-event-location > img {
    width: 5%;
}   


.active-event-date > p, 
.active-event-location > p {
    margin: 0;
    width: 90%;
    font-family: 'TT Travels', sans-serif;
    font-size: 2rem;
    color: var(--main-color);
}

.active-event-date {
    margin-bottom: 1rem;
}

.submission-success {
    margin: 5rem 0 3rem 0;
    padding: 10rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 5rem;
}   

.submission-success-text {
    text-align: center;
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 5rem;
}


/* COUNTDOWN TIMER */
.active-event-timer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'TT Travels Bold', sans-serif;
    margin-top: 2rem;
}

.active-event-timer > p {
    font-size: 4.2rem;
}

.timer-item {
    width: 30%;
    border-radius: 1rem;
    background-color: var(--bg-color);
    text-align: center;
}

.timer-item > p {
    margin: 0;
    
}

.timer-item > p:first-child {
    font-size: 4.2rem;
    padding: 1rem;
}


.timer-item > p:last-child {
    font-family: inherit,sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #8298ab;
    padding-bottom: 1rem;
}


.btn {
    position: relative;
    text-align: center;
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 3rem;
    color: var(--main-color);   
    padding: 2rem 3rem;
    border-radius: 4rem;
    background-color: var(--spot-color);
    border: none;
    cursor: pointer;
}


.register-btn {
    width: 100%;
    position: absolute;
    bottom: 0;
}


.submit-btn {
    width: fit-content;
    align-self: center;
}

.link-btn {
    text-align: left;
    margin-top: 3rem;
    display: block;
    border-radius: 2rem;
    width: 110%;
}

.link-btn > img {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
}



/* About section */
.about-heading-text {
    font-family: 'TT Travels Bold', sans-serif;
    font-weight: 600;
    font-size: 6rem;
    margin: 0;
} 

.about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
}

.about-image, 
.about-text {
    max-width: 48%;
}

.about-image > img {
    max-width: 100%;
    height: auto;
}

.about-text > p {
    font-size: 2rem;
}

.about-text > p:last-child {
    padding-top: 2rem;
}


/* Event sections */
.event-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0 0rem 0;
}

.event-item {
    width: 48%;
    position: relative;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 100%);
    border-radius: 3rem;
    max-height: 30rem;
}

.event-item > a > img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3rem;
}

.image-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 100%);
    border-radius: 3rem;
}

.event-item > a > h2 {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 5rem;
    margin: 0;
    color: var(--main-color);

    position: absolute;
    bottom: 2.5rem;
    left: 3rem;
}

.event-item > a  {
    color: var(--main-color);
}

.event-item:hover h2 {
    color: var(--spot-color);
}


/* Event details page */
.vertical-list-container {
    padding: 4rem 0 0 0;
}

.vertical-list {
    display: flex;
    flex-direction: row;
    margin: 5rem 0;
}

.list-title {
    width: 40%;

}

.list-title > h2 {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 3rem;
    margin: 0;
    color: var(--secondary-color);
    margin-bottom: 0;
}

.list-title > p {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    color: #8298AB;
}

.list-items {
    width: 60%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 19rem;
    background-color: var(--bg-color);
    border-radius: 3rem;
    width: 48%;
}

.list-item > h3 {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    color: var(--spot-color);
}

.list-item > p {
    font-family: 'TT Travels', sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem 0 0 0;
    color: var(--secondary-color);
}

.list-item-image {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: 5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.list-item-image > img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Partners */
.sm-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2rem;
    padding-top: 3rem;
}

.sm-card {
    width: 23%;
    height: 14rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--spot-color);
}

.sm-card-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sm-card-image {
    width: 100%;
    padding: 1rem;
}

.sm-card-image > img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
}

.sm-card > h3 {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 3.5rem;
    margin: 0;
    color: var(--spot-color);
}


.sm-card > p {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    color: var(--main-color);
}

.sm-card > a {
    text-align: center;
} 

.sm-card > a > p {
    font-family: 'TT Travels', sans-serif;
    font-size: 2rem;
    margin: 1rem 0 0 0;
}


.lg-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 3rem;
}

.lg-card {
    width: 31%;
    max-height: 40rem;
    border-radius: 2.5rem;
    padding: 2rem;
    background-color: var(--bg-color);
    text-align: center;
}

.lg-card > h2 {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 2rem;
    margin: 0;
    color: var(--secondary-color);
    padding-top: 2rem;
}

.lg-card > p {
    font-family: 'TT Travels', sans-serif;
    font-size: 1.5rem;
    color: rgba(130, 152, 171, 1);
    padding-top: 1rem;
    margin: 0;
}

.lg-card > img {
    max-width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
}   


.card-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-link > img {
    max-width: 100%;
}   

.card-link > a > p {
    font-family: 'TT Travels', sans-serif;
    font-size: 1.3rem;
    margin: 1rem 0 0 0;
}   


/* Timeline section */
.timeline-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10rem 0 0 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 

}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    scroll-snap-align: start;
    min-width: 25%;
}

.timeline-title {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 1rem;
    margin: 3rem 0 0 0;
    color: var(--secondary-color)
}

.timeline-deadline {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 1rem;
    color: var(--spot-color);
    margin: 0 0 3rem 0;
}

.timeline-elem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.7rem;
    width: 100%;
    background-color: var(--spot-color);
    overflow-x: visible;
}

.timeline-item:first-of-type > .timeline-elem {
    border-radius: 5rem 0 0 5rem;
}

.timeline-item:last-of-type > .timeline-elem {
    border-radius: 0 5rem 5rem 0;
}


.timeline-elem > span {
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--spot-color);
}


/* Contacts section */
.contacts-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--spot-color);
    border-radius: 5rem;
    padding: 2rem 0;
}

.contacts-details {
    width: 54%;
    padding: 4rem;
    color: var(--main-color)
}

.contacts-details > h2 {
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 6rem;
    margin: 0;
}

.contacts-details > p {
    font-family: 'TT Travels', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    padding-top: 2rem;
}

.social-links {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-links > a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    width: 48%;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    padding: 2rem;
}

.social-links > a > p {
    color: var(--main-color);
    font-family: 'TT Travels Bold', sans-serif;
    font-size: 2rem;
}

.social-links > a > img {
    max-width: 100%;
}

.qr-code {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
}

.qr-code > img {
    max-width: 100%;
    height: auto;
}


/* Footer section */
.footer-content {
    max-width: 1700px;
    margin: 0 auto;
    padding: 4.5rem 2rem;
    display: flex;
    justify-content: space-between;
}

.socials-list {
    display: flex;
    gap: 2rem;
}



@media (max-width: 1550px) {
    .event-section,
    .about-section,
    .footer-content,
    .event-list,
    .mentor-list,
    .partner-list,
    .mentor-add-content {
        padding: 3.5rem 2rem;
    }


    .event-title {
        font-size: 7rem;
    }

    .event-item > a > h2 {
        font-size: 3.5rem;
    }

    .timer-item > p:first-child {
        font-size: 3rem;
    }

    .navbar {
        padding: 0 2rem;
    }

    .contacts {
        padding: 4.5rem 2rem;
    }

    .contacts-details {
        padding: 3rem;
    }

    .contacts-details > h2{
        font-size: 4rem;
    }   

    .mentor-add-form {
        padding: 4rem 4rem;
    }

    .about-image,
    .about-text {
        max-width: 46%;
    }

    .about-text > p {
        font-size: 2rem;
    }
}


@media (max-width: 1352px) {
    .event-section {
        padding: 1.5rem 2rem;
        min-height: 0;
    }

    .event-title {
        font-size: 6.5rem;
    }

    .event-image {
        min-height: auto;
    }

    .event-image > img {
        height: 90%;
    }
    
    .btn {
        font-size: 2rem;
        bottom: 10%;
    } 

    .timer-item > p:first-child {
        font-size: 2.5rem;
    }

    .timer-item > p:last-child {
        font-size: 1.5rem;
    }

    .event-timer > p {
        font-size: 3rem;
    }

    .menu-item > a {
        font-size: 1rem;
    }

    .about-details {
        padding-top: 3.5rem;
    } 

    .about-heading-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-heading-img > img {
        max-width: 70%;
        height: auto;
    }

    .about-text > p {
        margin: 0;
        font-size: 1.8rem;
    }

    .lang-item > a {
        font-size: 0.9rem;
    }

    .input-group > .form-group > label, .form-group > label {
        font-size: 1.5rem
    }

    .input-error-message {
        top: 12rem;
    }

    .mentors-section {
        padding: 3.5rem 0 0 0;
    }

    .contacts {
        padding-top: 0;
    }

    .contacts-content {
        padding: 0;
    }

    .mentor-add-section {
        padding: 0;
    }

    .mentor-add-button {
        font-size: 1.5rem;
        padding: 1.5rem 6rem;
    }

    .contacts-details > p {
        font-size: 1.8rem;
    }

    .contacts-details > h2 {
        font-size: 3rem;
    }   

    .mentor-add-content {
        padding: 2rem;
    }

    .mentor-add-form {
        padding: 2rem 3rem;
    }

    .form-container {
        margin-top: 0;
    }

    .form-control {
        font-size: 1.5rem;
        padding: 1.5rem;
    }

    .messages {
        font-size: 1rem;
    }

    .partner-item > a > p {
        font-size: 1.3rem;
    }

    .mentor-item {
        padding: 1rem;
    }

    .mentor-item > h2 {
        font-size: 1.5rem;
    }

    .mentor-item > p {
        font-size: 1.2rem;
    }

    .footer-content {
        padding: 1.5rem 2rem;
    }
}



@media (max-width: 400px) {

    .sm-card-image {
        padding: 0;
    }
    
    .navbar {
        display: none;
    }

    .navbar-mobile {
        position: relative;
        display: flex;
        background-color: var(--secondary-color);
        width: 100%;
        justify-content: space-between;
    }

    .nav {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
    }


    .menu-mobile {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;
        background-color: var(--main-color);
        gap: 3rem;
        top: -100%;
        right: left;
        border-bottom: 1rem solid var(--spot-color);
        z-index: 100;
        padding: 3rem 0 3rem 0;
        transition: top 0.5s ease;
    }
    
    .open {
        top: 0;
    } 

    .menu-item > a {
        color: var(--secondary-color);
    }
    
    .menu-btn {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        top: 1rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        z-index: 1000;
        background-color: #ff67012c;
        border-radius: 50%;
    }
    
    .menu-btn-burger {
        display: inline-block;
        width: 1.7rem;
        height: 0.2rem;
        background-color: var(--spot-color);
        border-radius: 5px;
        transition: all 0.3s ease;
        z-index: 3000;
    }
    
    .menu-btn.open .menu-btn-burger:nth-child(1) {
        transform: rotate(45deg) translate(6px, 5px);
    }
    
    .menu-btn.open .menu-btn-burger:nth-child(2) {
        opacity: 0;
    }
    
    .menu-btn.open .menu-btn-burger:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -10px);
    }

    .lang-list {
        width: fit-content;
        justify-content: start;
        gap: 3rem;
    }
    
    .nav {
        gap: 1rem;

    }

    .logo {
        width: 8rem;
        padding: 1rem;
    }

    .logo > a > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .section-content {
        padding: 1rem;
    }

    .section-heading > h1 {
        font-size: 2rem;
    }

    .styled-heading {
        padding: 1rem 3rem;
    }

    .styled-heading > h2 {
        font-style: normal !important;
    }

    .styled-heading > h2{
        font-size: 2rem;
    }

    .active-event {
        flex-direction: column;
        min-height: 45rem;
        padding: 0;
        justify-content: start;
        position: relative;
    }

    .active-event-details,
    .active-event-image {
        width: 100%;
    }

    .active-event-details {
        position: unset;
    }

    .active-event-details > p {
        text-align: center;
        padding: 2rem 1rem 0 1rem;
    }

    .active-event-title {
        width: 100%;
        font-size: 3.5rem;
        text-align: center;
        padding-top: 1rem;
    }

    .active-event-spot {
        font-size: 3.5rem;
    }

    .active-event-title > span {
        text-align: center;
    }

    .active-event-details > .btn {
        bottom: 1.5rem;
        font-size: 1.5rem;
        padding: 1.5rem 0;
    }

    .active-event-timer {
        margin-top: 3rem;
    }

    .active-event-timer > p {
        font-size: 2.5rem;
    }


    .active-event-date > p, 
    .active-event-location > p {
        font-size: 1rem;
    }

    .active-event-image > img {
        border-radius: 2rem;
    }

    .active-event-desctiption {
        padding-top: 1rem;
        text-align: center;
    }

    #days-left,
    #minutes-left,
    #hours-left {
        font-size: 2rem;
        padding-bottom: 0;
    }

    #days-left > p {
        padding-bottom: 0;
    }

    .active-event-image {
        margin: 1rem 0;
    }

    #about {
        padding-bottom: 2rem;
    }

    .about-details {
        flex-direction: column;
        padding-top: 0;
    }

    .about-image,
    .about-text {
        max-width: 100%;
    }

    .about-image > img {
        margin: 2rem 0;
    }

    .about-text > p {
        font-size: 1.1rem;
        text-align: center;
    }

    .about-text > p:last-child {
        padding-top: 1rem;
    }

    .event-list {
        flex-direction: column;
        padding: 2rem 0;
    }

    .event-item {
        width: 100%;
        border-radius: 2rem;
        height: 11.5rem;
    }

    .event-item > a > img {
        border-radius: 2rem;
        width: 100%;
        object-fit: cover; 
        object-position: center;
    }

    .image-gradient {
        border-radius: 2rem;
    }

    .event-item > a > h2 {
        font-size: 1.5rem;
        bottom: 1.5rem;
        left: 1.5rem;
    }

    .sm-card-list {
        gap: 1rem;
        padding-top: 1rem;
    }

    .card-link {
        /* width: 100%; */
        border-radius: 1.5rem;
    }

    .card-link > a {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .sm-card > a > img {
        scale: 0.5;
    }

    .card-link > a > p {
        width: 100%;
        font-size: 1.2rem;
        margin: 0
    }

    .sm-card {
        width: 47%;
        padding: 1rem;
        border-radius: 1rem;
    }

    .sm-card > h3 {
        font-size: 1.7rem;
    }

    .sm-card > p {
        font-size: 1rem;
    }

    .btn-container {
        width: 100%;
    }

    .link-btn {
        width: 100%;
        font-size: 1.2rem;
        border-radius: 1.5rem;
        padding: 1.2rem;
    }

    .link-btn > img {
        top: 0.6rem;
        right: 1.5rem;
        scale: 0.5;
    }

    .lg-card-list {
        gap: 1rem;
        justify-content: space-between;
        padding-top: 1.5rem
    }

    .lg-card {
        width: 47%;
        padding: 0.3rem 0.3rem 0.6rem 0.3rem;
        border-radius: 1rem;
    }

    .lg-card > img {
        border-radius: 1rem;
        width: 100%;
        object-fit: cover; 
        object-position: center;
    }

    .lg-card > h2 {
        padding-top: 0.5rem;
        font-size: 0.8rem;
    }

    .lg-card > p {
        padding-top: 0.3rem;
        font-size: 0.7rem;
    }


    .card-link {
        /* width: 100%; */
        border-radius: 1.5rem;
        padding: 1rem;
    }

    /* .card-link > a {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    } */

    .card-link > a > img {
        scale: 0.5;
    }

    .card-link > a > p {
        font-size: 1rem;
        margin: 0
    }

    .contacts-container {
        flex-direction: column;
        padding: 1rem;
        border-radius: 1.7rem;
    }

    .contacts-details {
        width: 100%;
        padding: 2rem 1rem;
    }

    .contacts-details > h2{
        font-size: 2rem;
    }

    .contacts-details > p{
        font-size: 1.25rem;
    }

    .qr-code {
        width: 100%;
        padding: 2rem;
    }
    
    .social-links {
        flex-direction: column;
    }

    .social-links > a {
        width: 100%;
        margin-bottom: 1rem;
    }

    .social-links > a > p {
        font-size: 1.5rem;
    }

    .footer-content {
        align-items: center;
        padding: 1.5rem;
    }

    .socials-list {
        gap: 1.5rem;
    }

    .social-item {
        width: 1.5rem;
        height: 1.5rem;
    }

    .social-item > a > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .footer-logo {
        width: 5rem;
    }

    .footer-logo > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }


    .form-container {
        border-radius: 1rem;
    }

    .form {
        padding: 1.5rem;
    }

    .form-input-group {
        flex-direction: column;
        gap: 0;
    }

    .form-input-group > .input-container {
        width: 100%;
        margin-bottom: 1rem;
    }

    .form-input-group > .input-container > label,
    .form-input-group > label,
    .input-container > label {
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }   

    .form-input-group > .input-container {
        margin-bottom: 0;
    }

    .form-control {
        font-size: 1.2rem;
        padding: 1rem;
        border-radius: 1rem;
    }

    .submit-btn {
        width: 100%;
        font-size: 1.2rem;
        padding: 1.5rem 0;
    }

    .alert {
        border-radius: 2rem;
        font-size: 1rem;
    }

    .input-error-message {
        font-size: 0.8rem;
        top: 6rem;
    }

    .timeline-list {
        padding: 3rem 0 3rem 0;
    }

    .timeline-item {
        width: 12rem;
    }

    .timeline-deadline {
        margin-bottom: 2rem; 
    }

    .timeline-title {
        margin-top: 2rem;
    }

    .timeline-elem {
        height: 0.5rem;
    }
    
    .timeline-elem > span {
        width: 1rem;
        height: 1rem;
    }

    .vertical-list {
        flex-direction: column;
        margin-top: 0;
    }

    .list-title {
        width: 100%;
    }

    .list-title > h2 {
        font-size: 2rem;
        text-align: center;
    }

    .list-title > p {
        font-size: 1.2rem;
        text-align: center;
    }

    .list-items {
        width: 100%;
        flex-direction: row;
    }

    .list-item {
        width: 45%;
        padding: 1rem;
        border-radius: 1rem;
        min-height: 0;
    }

    .list-item > h3 {
        font-size: 1rem;
        text-align: center;
    }

    .list-item > p {
        font-size: 0.8rem;
    }

    .list-item-image {
        max-width: 100%;
    }

    .list-item-image > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

}
    