{% load static %}

{% load i18n %}

<!-- CONTACTS -->
<section class="section">
    <div class="section-content" id="contact-us">
        <div class="contacts-container">
            <div class="contacts-details">
                <h2>{% trans 'Будьте в курсе всех новостей' %}</h2>
                <p>{% trans 'Подпишитесь на наш телеграм канал и будьте в курсе всех актуальных новостей или свяжитесь с нами' %}</p>
                <div class="social-links">
                    <a href="https://t.me/pizzapitchuz_team" target="_blank">
                        <img src="{% static 'images/bubble-icon.png' %}" alt="Bubble Icon">
                        <p>{% trans 'Связаться' %}</p>
                    </a>
                    <a href="https://t.me/pizzapitchuz" target="_blank">
                        <img src="{% static 'images/tg-icon.png' %}" alt="Telegram Icon">
                        <p>{% trans 'Подписаться' %}</p>
                    </a>
                </div>
            </div>

            <div class="qr-code">
                <img src="{% static 'images/qr-code.png' %}" alt="QR Code">
            </div>
        </div>
    </div>
</section>