{% load static %}

<!-- NAVBAR -->
<section class="section">
    <div class="navbar">    
        <nav class="nav">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'images/logo.png'%}" alt="PizzaPitch Logo">
                </a>
            </div>

            <ul class="menu">
                <li class="menu-item">
                    <a href="#about">О нас</a>
                </li>

                <li class="menu-item">
                    <a href="#events">Мероприятия</a>
                </li>

                <li class="menu-item">
                    <a href="#partners">Партнеры</a>
                </li>

                <li class="menu-item">
                    <a href="#mentors">Менторы</a>
                </li>

                <li class="menu-item">
                    <a href="#contact-us">Связаться с нами</a>
                </li>
            </ul>
        </nav> 

        <ul class="lang-list">
            <li class="lang-item lang-item-selected">
                <a href="{{ request.path }}">RU</a>
            </li>

            <li class="lang-item">
                <a href="/uz{{ request.path }}">UZ</a>
            </li>

            <li class="lang-item">
                <a href="/en{{ request.path }}">EN</a>
            </li>
        </ul>
    </div>
</section>