{% load static %}

{% load i18n %}


<!-- NAVBAR -->
<section class="section">
    <div class="navbar">    
        <nav class="nav">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'images/logo.png'%}" alt="PizzaPitch Logo">
                </a>
            </div>

            <ul class="menu">
                <li class="menu-item">
                    <a href="{% url 'index' %}#about">{% trans 'О нас' %}</a>
                </li>

                <li class="menu-item">
                    <a href="{% url 'index' %}#events">{% trans 'Мероприятия' %}</a>
                </li>

                <li class="menu-item">
                    <a href="{% url 'index' %}#partners">{% trans 'Партнеры' %}</a>
                </li>

                <li class="menu-item">
                    <a href="{% url 'index' %}#mentors">{% trans 'Менторы' %}</a>
                </li>

                <li class="menu-item">
                    <a href="{% url 'index' %}#contact-us">{% trans 'Связаться с нами' %}</a>
                </li>
            </ul>
        </nav> 

        

        



        <ul class="lang-list">
            <li class="lang-item lang-item-selected">
                <a href="/ru{{ request.path|slice:'3:' }}">RU</a>
            </li>

            <li class="lang-item">
                <a href="/uz{{ request.path|slice:'3:' }}">UZ</a>
            </li>

            <li class="lang-item">
                <a href="/en{{ request.path|slice:'3:' }}">EN</a>
            </li>
        </ul>
    </div>
</section>