{% extends 'layouts/base.html' %}

{% load widget_tweaks %}
{% load static %}

{% load i18n %}

{% block content %}


{% if form %}
    <section class="section"> 
        <div class="section-content">
            <div class="active-event no-min-height">
                <div class="active-event-image">
                    <div class="image-gradient"></div>
                    <div class="active-event-info">
                        <div class="active-event-date">
                            <div class="event-info-icon">
                                <img src="{% static 'images/calendar_icon.png'%}" alt="Event date icon">
                            </div>
                            <p>{{ event.planned_date}}</p>
                        </div>

                        <div class="active-event-location">
                            <div class="event-info-icon">
                                <img src="{% static 'images/location_icon.png'%}" alt="Event location icon">
                            </div>
                            <p>{{ event.location }}</p>
                        </div>
                    </div>
                    
                    <img src="{{ event.get_hero_image }}" alt="{{ event.name }}">
                </div>
                
                <div class="active-event-details">
                    <h1 class="active-event-title">{{ event_type.name }}<span class="active-event-spot">{{ event_type.emphasis_to_name }}</span></h1>
                    <div class="active-event-desctiption">
                        <p>{{ event.event_type.description }}</p>
                    </div>
                    
                    <div class="active-event-timer">
                        <div class="timer-item">
                            <p id="days-left">20</p>
                            <p>{% trans 'дней'%}</p>
                        </div>   
                        <p>:</p>
                        <div class="timer-item">
                            <p id="hours-left">17</p>
                            <p>{% trans 'часов'%}</p>
                        </div>   
                        <p>:</p>
                        <div class="timer-item">
                            <p id="minutes-left">43</p>
                            <p>{% trans 'мин'%}</p>
                        </div>   
                    </div>
    
                    <div id="countdown"></div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    <section class="section">
        <div class="section-content">
            <div class="active-event no-min-height">
                <div class="active-event-details">
                    <h1 class="active-event-title">{{ event_type.name }}</h1>
                    <p>{{ event_type.description }}</p>
                </div>

                <div class="active-event-image">
                    <img src="{{ event_type.image.url }}" alt="{{ event_type.name }} Image">
                </div>
            </div>
        </div> 
    </section>
{% endif%}

{% if achievements %}
<section class="section-dark">
    <section class="section-content" id="partners">
        <div class="section-heading">
            <h1>{% trans 'Наши' %} </h1>
            <div class="styled-heading">
                <h2>{% trans 'достижения' %}</h2> 
            </div>
        </div>

        <ul class="sm-card-list flex-h-center">
            {% for achievement in achievements %}
                <li class="sm-card card-with-bg card-with-pd">
                    <h3>{{ achievement.value }}</h3>
                    <p>{{ achievement.title }}</p>
                </li>
            {% endfor %}
        </ul>

    </section>
</section>
{% endif %}    

<!-- PARTNERS -->
<section class="section">
    <section class="section-content" id="partners">
        <div class="section-heading">
            <h1>{% trans 'Наши' %} </h1>
            <div class="styled-heading">
                <h2>{% trans 'партнеры' %}</h2> 
            </div>
        </div>

        <ul class="sm-card-list flex-h-center">
            {% for partner in partners %}
                <li class="sm-card sm-card-centered">
                    {% if partner.logo %}
                        <div class="sm-card-image">
                            <img src="{{ partner.logo.url }}" alt="{{ partner.name }} Logo">
                        </div>        
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
</section>

{% if past_events %}
<!-- PAST EVENTS' WINNERS SECTION -->
<section class="section">
    <section class="section-content">
        <div class="section-heading">
            <h1>{% trans 'Наши' %} </h1>
            <div class="styled-heading">
                <h2>{% trans 'победители' %}</h2> 
            </div>
        </div>
        <div class="vertical-list-container">
            {% for event in past_events %}
                <div class="vertical-list">
                    <div class="list-title">
                        <h2>{{ event.name }}</h2>
                        <p>({{ event.planned_date|date:"d/m/Y" }})</p>
                    </div>

                    <div class="list-items">
                        {% for winner in event.event_winners.all %}
                        <div class="list-item">
                            {% if winner.logo %}
                                <div class="list-item-image"> 
                                    <img src="{{ winner.logo.url }}" alt="{{ winner.name }} Logo">
                                </div>
                            {% endif %}
                            <h3>{{ winner.name }}</h3>
                            <p>{{ winner.description }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>  
    </section>
</section>
{% endif %}

{% if event_type.event_timelines.all %}
<!-- TIMELINE -->
<section class="section">
    <section class="section-content" id="mentors">
        <div class="section-heading">
            <h1>{% trans 'Наш' %}</h1>
            <div class="styled-heading">
                <h2>{% trans 'таймлайн' %}</h2> 
            </div>
        </div>

        <div class="timeline-list">
            {% for timeline in event_type.event_timelines.all %}
                <div class="timeline-item">
                    <p class="timeline-deadline">{{ timeline.step_deadline|date:"d/m/Y" }}</p>
                    <div class="timeline-elem"><span></span></div>
                    <p class="timeline-title">{{ timeline.step_title }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
</section>
{% endif %}

{% if form %} 
<!-- REGISTRATION SECTION -->
<section class="section">
    <section class="section-content no-padding">
        <div class="section-heading">
            <h1>{% trans 'Хотите стать участником?' %} </h1>
        </div>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>

    <section class="section-content">
        {% if success %}
            <div class="">{% trans 'Success. Your application is received' %}</div>
        {% else %}
            <div class="form-container" id="submission-form">
                <form class="form" method="POST" action="{{ event_type.get_absolute_url }}#submission-form">
                    {% csrf_token %}

                    <div class="form-input-group">
                        <div class="input-container">
                            <label for="id_full_name">{{ form.full_name.label }}*</label>
                            {% if form.full_name.errors %}
                                {{ form.full_name|add_class:"error-input" }}
                                <p class="input-error-message">{{ form.full_name.errors.0 }}</p>
                            {% else %}
                                {{ form.full_name }}
                            {% endif %}         
                        </div>  

                        <div class="input-container">
                            <label for="id_phone_number">{{ form.phone_number.label }}*</label>
                            {% if form.phone_number.errors %}
                                {{ form.phone_number|add_class:"error-input" }}
                                <p class="input-error-message">{{ form.phone_number.errors.0 }}</p>
                            {% else %}
                                {{ form.phone_number }}
                            {% endif %}         
                        </div>  
                
                        <div class="input-container">
                            <label for="id_tg_username">{{ form.tg_username.label }}*</label>
                            {% if form.tg_username.errors %}
                                {{ form.tg_username|add_class:"error-input" }}
                                <p class="input-error-message">{{ form.tg_username.errors.0 }}</p>
                            {% else %}
                                {{ form.tg_username }}
                            {% endif %}
                        </div>

                        <div class="input-container">
                            <label for="id_startup_name">{{ form.startup_name.label }}*</label>
                            {% if form.startup_name.errors %}
                                {{ form.startup_name|add_class:"error-input" }}
                                <p class="input-error-message">{{ form.startup_name.errors.0 }}</p>
                            {% else %}
                                {{ form.startup_name }}
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="input-container">
                        <label for="id_startup_description">{{ form.startup_description.label }}</label>
                        {{ form.startup_description|add_class:"form-textarea" }}
                    </div>

                    <div class="form-input-group">
                        <div class="input-container">
                            <label for="id_startup_status">{{ form.startup_status.label }}*</label>
                            {% if form.startup_status.errors %}
                                {{ form.startup_status|add_class:"error-input" }}
                                <p class="input-error-message">{{ form.startup_status.errors.0 }}</p>
                            {% else %}
                                {{ form.startup_status }}
                            {% endif %}         
                        </div>  

                        <div class="input-container">
                            <label for="id_startup_sphere">{{ form.startup_sphere.label }}*</label>
                            {% if form.startup_sphere.errors %}
                                {{ form.startup_sphere|add_class:"error-input" }}
                                <p class="input-error-message">{{ form.startup_sphere.errors.0 }}</p>
                            {% else %}
                                {{ form.startup_sphere }}
                            {% endif %}         
                        </div> 

                        <div class="input-container">
                            <label for="id_startup_sphere_other">{{ form.startup_sphere_other.label }}*</label>
                            {% if form.startup_sphere_other.errors %}
                                {{ form.startup_sphere_other|add_class:"error-input" }}
                                <p class="input-error-message">{{ form.startup_sphere_other.errors.0 }}</p>
                            {% else %}
                                {{ form.startup_sphere_other }}
                            {% endif %}         
                        </div> 

                        <div class="input-container">
                            <label for="id_startup_sphere_other">{{ form.position_in_startup.label }}*</label>
                            {% if form.position_in_startup.errors %}
                                {{ form.position_in_startup|add_class:"error-input" }}
                                <p class="input-error-message">{{ form.position_in_startup.errors.0 }}</p>
                            {% else %}
                                {{ form.position_in_startup }}
                            {% endif %}         
                        </div> 

                        <div class="input-container custom-select-wrapper">
                            <label for="id_has_entrepreneurship_experience">{{ form.has_entrepreneurship_experience.label }}*</label>
                            {% if form.has_entrepreneurship_experience.errors %}
                                {{ form.has_entrepreneurship_experience|add_class:"error-input" }}
                                <p class="input-error-message">{{ form.has_entrepreneurship_experience.errors.0 }}</p>
                            {% else %}
                                {{ form.has_entrepreneurship_experience }}
                            {% endif %}         
                        </div> 

                        <div class="input-container custom-select-wrapper">
                            <label for="id_has_attracted_investment">{{ form.has_attracted_investment.label }}*</label>
                            {% if form.has_attracted_investment.errors %}
                                {{ form.has_attracted_investment|add_class:"error-input" }}
                                <p class="input-error-message">{{ form.has_attracted_investment.errors.0 }}</p>
                            {% else %}
                                {{ form.has_attracted_investment }}
                            {% endif %}         
                        </div>  
                    </div>

                    <div class="input-container">
                        <label for="id_incubators_accelerators">{{ form.incubators_accelerators.label }}*</label>
                        {% if form.incubators_accelerators.errors %}
                            {{ form.incubators_accelerators|add_class:"error-input" }}
                            <p class="input-error-message">{{ form.incubators_accelerators.errors.0 }}</p>
                        {% else %}
                            {{ form.incubators_accelerators }}
                        {% endif %}         
                    </div> 

                    <div class="input-container">
                        <label for="id_presentation_link">{{ form.presentation_link.label }}*</label>
                        {% if form.presentation_link.errors %}
                            {{ form.presentation_link|add_class:"error-input" }}
                            <p class="input-error-message">{{ form.presentation_link.errors.0 }}</p>
                        {% else %}
                            {{ form.presentation_link }}
                        {% endif %}         
                    </div>

                    <div class="input-container custom-select-wrapper">
                        <label for="id_consent">{{ form.consent.label }}*</label>
                        {% if form.consent.errors %}
                            {{ form.consent|add_class:"error-input" }}
                            <p class="input-error-message">{{ form.consent.errors.0 }}</p>
                        {% else %}
                            {{ form.consent }}
                        {% endif %}         
                    </div> 
                        
                    <button type="submit" class="btn submit-btn">{% trans 'Отправить заявку' %}</button>
                </form>
            </div>
        {% endif %}
    </section>  
</section>
{% endif %}


<!-- COUNTDOWN SCRIPT -->
<script defer>
    const plannedDate = new Date("{{ event.registration_deadline|date:'Y-m-d H:i:s' }}");
    console.log('{{event}}');
    console.log(plannedDate);

    function startCountdown() {
        const daysElement = document.getElementById('days-left');
        const hoursElement = document.getElementById('hours-left');
        const minutesElement = document.getElementById('minutes-left');

        function formatWithLeadingZero(number) {
            return number < 10 ? `0${number}` : number;
        }

        function updateCountdown() {
            const now = new Date();
            const timeDifference = plannedDate - now;


            if (timeDifference <= 0) {
                daysElement.innerHTML = "00";
                hoursElement.innerHTML = "00";
                minutesElement.innerHTML = "00";
                clearInterval(interval);
                return;
            }

            const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));

            daysElement.innerHTML = formatWithLeadingZero(days);
            hoursElement.innerHTML = formatWithLeadingZero(hours);
            minutesElement.innerHTML = formatWithLeadingZero(minutes);
        }

        updateCountdown(); 
        const interval = setInterval(updateCountdown, 60000); // Update every minute
    }

    startCountdown();
</script>

{% endblock %}
