{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<!-- HERO -->
<section class="section"> 
    <div class="event-section">
        <div class="event-image">
            <div class="image-gradient"></div>
            <img src="{% static 'images/event-image.png'%}" alt="Event Image">
        </div>
        
        <div class="event-details">
            <h1 class="event-title">Students Cup <span class="event-spot">2025</span></h1>
            <div class="event-desctiption"> <!-- see about-text class in css -->
                <p>— Это студенческий хакатон, где участники в командах создают решения за ограниченное время.</p>
                <p>Это шанс прокачать навыки, поработать с кейсами и побороться за призы!</p>
            </div>
            <a href="#" class="event-join-btn">Зарегистрироваться</a>
        </div>
    </div>
</section>


<!-- EVENTS NUMBERS -->
<section class="section-dark">
    <div class="about-section" id="about">
        <div class="about-details">
            
        </div>
    </div>
</section>


<!-- CONTACTS -->
<section class="section">
    <div class="contacts" id="contact-us">
        <div class="contacts-content">
            <div class="contacts-details">
                <h2>Будьте в курсе всех новостей</h2>
                <p>Подпишитесь на наш телеграм канал и будьте в курсе всех актуальных новостей или свяжитесь с нами</p>
                <div class="social-links">
                    <a href="#">
                        <img src="{% static 'images/email-link.png' %}" alt="Email Icon">
                    </a>
                    <a href="#">
                        <img src="{% static 'images/tg-link.png' %}" alt="Telegram Icon">
                    </a>
                </div>
            </div>

            <div class="qr-code">
                <img src="{% static 'images/qr-code.png' %}" alt="QR Code">
            </div>
        </div>
    </div>
</section>
{% endblock %}
