{% extends 'layouts/base.html' %}
{% load static %}

{% load i18n %}

{% block content %}

<!-- HERO -->
{% if event %}
    <section class="section">
        <div class="section-content">
            <div class="active-event">
                <div class="active-event-details">
                    <h1 class="active-event-title">{{ event.name }} <span class="active-event-spot">{{ event.emphasis_to_name }}</span></h1>
                    <div class="active-event-timer">
                        <div class="timer-item">
                            <p id="days-left">20</p>
                            <p>{% trans 'дней'%}</p>
                        </div>   
                        <p>:</p>
                        <div class="timer-item">
                            <p id="hours-left">17</p>
                            <p>{% trans 'часов'%}</p>
                        </div>   
                        <p>:</p>
                        <div class="timer-item">
                            <p id="minutes-left">43</p>
                            <p>{% trans 'мин'%}</p>
                        </div>   
                    </div>
    
                    <div id="countdown"></div>
    
                    <a href="{{ event.event_type.get_absolute_url }}" class="btn register-btn">{% trans 'Зарегистрироваться' %}</a>
                </div>
    
                <div class="active-event-image">
                    <img src="{{ event.get_hero_image }}" alt="{{ event.name }}">
                </div>
            </div>
        </div> 
    </section>
{% endif %}

<!-- ABOUT -->
<section class="section-dark">
    <div class="section-content" id="about">
        <div class="section-heading">
            <h1>{% trans 'Что такое' %}</h1>
            <div class="styled-heading">
                <h2>{% trans 'PIZZAPITCH' %}</h2> 
            </div>
        </div>

        <div class="about-details">
            <div class="about-image">
                <img src="{% static 'images/about-image.png' %}" alt="Image About Pizza Pitch">
            </div>

            <div class="about-text">
                <p>{% trans 'PizzaPitch &#8212; это платформа для стартапов на ранних этапах развития. Здесь они могут представить свои проекты, получить советы и обратную связь от экспертов.' %}</p>
                <p>{% trans 'Участники также могут принимать участие в тренингах и расширять свои деловые связи, находя потенциальных партнеров или инвесторовю.' %}</p>
            </div>
        </div>
    </div>
</section>

{% if event_types %}
<!-- EVENTS -->
<section class="section">
    <div class="section-content" id="events">
        <div class="section-heading">
            <h1>{% trans 'Наши' %}</h1>
            <div class="styled-heading">
                <h2>{% trans 'мероприятия' %}</h2> 
            </div>
        </div>

        <ul class="event-list">
            {% for event_type in event_types %}
            <li class="event-item">
                <a href="{{ event_type.get_absolute_url }}" class="event-link">
                    <div class="image-gradient"></div>
                    <img src="{{ event_type.image.url }}" alt="{{ event_type.name}} Photo">
                    <h2>{{ event_type.name }}</h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}

<!-- PARTNERS -->
<section class="section-dark">
    <section class="section-content" id="partners">
        <div class="section-heading">
            <h1>{% trans 'Наши' %} </h1>
            <div class="styled-heading">
                <h2>{% trans 'партнеры' %}</h2> 
            </div>
        </div>

        <ul class="sm-card-list">
            {% for partner in partners %}
                <li class="sm-card sm-card-centered">
                    {% if partner.logo %}
                        <img src="{{ partner.logo.url }}" alt="{{ partner.name }} Logo">
                    {% endif %}
                </li>
            {% endfor %}

            <li class="sm-card sm-card-centered card-link">
                <a href="{% url 'partners:partner-list' %}#be-partner">
                    <img src="{% static 'images/plus-sign.png' %}" alt="Become a partner link">
                    <p>{% trans 'Стать партнером'%}</p>
                </a>
            </li>
        </ul>

        <div class="section-heading">
            <div class="btn-container">
                <a href="{% url 'partners:partner-list' %}" class="btn link-btn">
                    {% trans 'Показать всех' %}
                    <img src="{% static 'images/right-arrow.png'%}" alt="Arrow icon in the link leading to the partners's page">
                </a>
            </div>
        </div>
    </section>
</section>

<!-- MENTORS -->
<section class="section">
    <section class="section-content" id="mentors">
        <div class="section-heading">
            <h1>{% trans 'Наши' %}</h1>
            <div class="styled-heading">
                <h2>{% trans 'ментора' %}</h2> 
            </div>
        </div>

        <ul class="lg-card-list">
            {% for mentor in mentors %}
                <li class="lg-card">
                    {% if  mentor.photo %}
                        <img src="{{ mentor.photo.url }}" alt="{{ mentor.full_name }} Photo">
                    {% endif %}
                    <h2>{{ mentor.full_name }}</h2>
                    <p>{{ mentor.position }}, {{ mentor.organization }}</p>
                </li>
            {% endfor %}
            

            <li class="lg-card card-link">
                <a href="{% url 'mentors:mentor-list' %}#be-mentor">
                    <img src="{% static 'images/plus-sign.png' %}" alt="Become Mentor Button">
                    <p>{% trans 'Стать ментором' %}</p>
                </a>
            </li>
        </ul>
        
        <div class="section-heading">
            <div class="btn-container">
                <a href="{% url 'mentors:mentor-list' %}" class="btn link-btn">
                    {% trans 'Показать всех' %}
                    <img src="{% static 'images/right-arrow.png'%}" alt="Arrow icon in the link leading to the mentor's page">
                </a>
            </div>
        </div>
        
    </section>
</section>

<!-- COUNTDOWN SCRIPT -->
<script defer>
    const plannedDate = new Date("{{ event.registration_deadline|date:'Y-m-d H:i:s' }}");
    console.log('{{event}}');
    console.log(plannedDate);

    function startCountdown() {
        const daysElement = document.getElementById('days-left');
        const hoursElement = document.getElementById('hours-left');
        const minutesElement = document.getElementById('minutes-left');

        function formatWithLeadingZero(number) {
            return number < 10 ? `0${number}` : number;
        }

        function updateCountdown() {
            const now = new Date();
            const timeDifference = plannedDate - now;


            if (timeDifference <= 0) {
                daysElement.innerHTML = "00";
                hoursElement.innerHTML = "00";
                minutesElement.innerHTML = "00";
                clearInterval(interval);
                return;
            }

            const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));

            daysElement.innerHTML = formatWithLeadingZero(days);
            hoursElement.innerHTML = formatWithLeadingZero(hours);
            minutesElement.innerHTML = formatWithLeadingZero(minutes);
        }

        updateCountdown(); 
        const interval = setInterval(updateCountdown, 60000); // Update every minute
    }

    startCountdown();
</script>

{% endblock %}
